extends ../layout

block content
  .container
    .row
      form.form-horizontal(method="post",action="/admin/passage")
        if passage._id
          input(type="hidden", name="passage[_id]", value=passage._id)
        .form-group
          label.col-sm-2.control-label(for="inputCategory") 分类(如下面没有该分类，您可以自己增加)
          .col-sm-10
            input#inputCategory.form-control(type="text", name="passage[categoryName]", value=passage.categoryName)
        .form-group
          label.col-sm-2.control-label 分类选择
          each cat in categories
            label.radio-inline
              if passage.category
                input(type="radio", name="passage[category]", value=cat._id, checked=cat._id.toString()==passage.category.toString())
              else
                input(type="radio", name="passage[category]", value=cat._id)
              | #{cat.name}
        .form-group
          label.col-sm-2.control-label(for="inputTitle")文章名字
          .col-sm-10
            input#inputTitle.form-control(type="text",name="passage[title]",value=passage.title)
        .form-group
          label.col-sm-2.control-label(for="inputEditor")作者
          .col-sm-10
            input#inputEditor.form-control(type="text",name="passage[editor]",value=passage.editor)
        .form-group
          label.col-sm-2.control-label(for="inputSummary")简介
          .col-sm-10
            input#inputSummary.form-control(type="text",name="passage[summary]",value=passage.summary)
        .form-group
          label.col-sm-2.control-label(for="inputPoster")封面图片
          .col-sm-10
            input#inputPoster.form-control(type="text",name="passage[poster]",value=passage.poster)
        .form-group
          label.col-sm-2.control-label(for="inputFlash")视频来源
          .col-sm-10
            input#inputFlash.form-control(type="text",name="passage[flash]",value=passage.flash)
        .form-group
          .col-sm-offset-2.col-sm-10
          button.btn.btn-default(type='submit') 录入